
* {
    padding:0;
    margin:0;
}

html,
body {
    height:100%;
    display:flex;
    flex-direction:column;
    background: #17baef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-y: scroll;
}

body > * {
    flex-shrink: 0;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 56px;
    width: 100%;
    background: #fff;
    box-shadow: #074f66 0px 0px 2px 2px
}

.header > * {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 0px;
    width: max-content;
    height: 100%;
}

.headerTitle {
    left: 32px;
    color: #17baef;
    font-weight: bold;
    font-size: 32px;
}

.headerMenu {
    right: 16px;
    color: #666;
}

.headerMenu > * {
    display: inline;
    padding: 12px 16px 12px 16px;
    margin: 8px;
    box-shadow: #666 0px 0px 10px -2px;
    user-select: none;
}

.headerMenu .current {
    color: #fff;
    background: #074f66;
}

.headerMenu :not(.current):hover {
    background: #0c86ae;
    color: #fff;
    cursor: pointer;
}

.titleBlock {
    margin-top: 112px;
    margin-bottom: 64px;
    text-align: center;
    font-size: 96px;
    color: #074f66;
    font-weight: bold;
    letter-spacing: -8px;
}

.titleBlock span {
    color: #eebf3f;
}

.titleBlock .subTitle {
    font-size: 32px;
    letter-spacing: 0px;
    color: white;
    font-weight: normal;
}

div.center {
    /* position: absolute; */
    width: 100%;
    left: 0px;
    text-align: center;
}

div.button {
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    display: inline;
    border: black solid 0px;
    border-radius: 6px;
    /* font-variant-caps: all-petite-caps; */
    background: #eebf3f;
    color: white;
    font-weight: bold;
}

div.button.dark {
    background: #074f66;
    color: #fff;
}

div.about {
    color: #074f66;
}

div.about > a {
    margin: 0px 16px 0px 16px;
    text-decoration: unset;
}

div.about > a:visited {
    color: #074f66;
}

div.about > a:hover {
    text-decoration: underline;
}

div.headerMenu > a {
    color: #666;
    text-decoration: unset;
}

section {
    left: 0px;
    box-sizing: border-box;
}

section.hr {
    height: 64px;
    width: 100%;
    background: #074f66;
}

section.light {
    background: #f5f5f5;
    /* height: 128px; */
    /* padding: 40px; */
    text-align: center;
}

section.light div {
    width: 80%;
    display: inline-block;
    margin-bottom: 32px;
}

section.light div:not(.center) {
    text-align: justify;
}

section.light div.center {
    text-align: center;
}

section.light td {
    padding: 8px 32px;
}

section.light img {
    padding: 4px;
    box-shadow: #ccc 0px 0px 2px 2px;
}

section.light h1 {
    background: #074f66;
    color: #fff;
    font-size: 40px;
    letter-spacing: -1px;
    margin: 0px 0px 32px 0px;
    padding: 16px;
    /* box-shadow: #000 0px -2px 4px -2px; */
}

/* section.light h1::before {
    content: '';
    display: block;
    height: 64px;
    width: 100%;
    background: #074f66;
}
 */
.code {
    font-family: Courier New, Courier, monospace;
}

.last {
    /* flex-grow: 1; */
}

table {
    display: inline-block;
}

table td + td {
    box-shadow: #000 -4px 0px 4px -4px;
}

.dialog{
	position:fixed;
	top:50%;
	left:100%;
	width:300px;
	height:430px;
	margin-left:-25px;
	margin-top:-215px;
	padding:10px;
	border:#000 2px solid;
	border-radius:10px;
	background:#fff;
	color:#000;
	z-index:1500;
	font-size:12pt;
}
.dialog .label{
	transform: rotate(270deg);
	width:430px;
	height:20px;
	text-align:center;
	overflow:hidden;
	display:inline-block;
	margin-left:-71%;
	margin-top:68%;
	cursor:pointer;
}

.dialog .header{
	text-align:center;
	margin-top:-200px;
}

.dialog input, .dialog button, .dialog .history{
	margin:2px 25px;
	width:85%;
	border:1px #666 solid;
	border-radius: 5px;
	font-size:14px;
}

.dialog .history{
	margin-top: -192px;
	height: 300px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.dialog .history .question, .dialog .history .answer{
	margin:5px;
	width:78%;
	border-radius: 5px;
	padding:5px;
}
.dialog .history .question{
	margin-left:40px;
	background:#99f;
}
.dialog .history .answer{
	margin-right:40px;
	background:#9ff;
}
